@charset "UTF-8";

html {padding:3%;}
@font-face {font-family: Interstate-Thin; src: url("../fonts/Interstate-Thin.otf");}
@font-face {font-family: Interstate-Light; src: url("../fonts/Interstate-Light.otf");}

h1 {font-family: Interstate-Thin, verdana, sans-serif;}
p {font-family: Interstate-Light, verdana, sans-serif;}