@charset "UTF-8";

body {padding: 0% 8% 0% 4%; margin: 0px;}
body {color: #333;}
@font-face {font-family: Interstate-Thin; src: url("../fonts/Interstate-Thin.otf");}
@font-face {font-family: Interstate-Light; src: url("../fonts/Interstate-Light.otf");}
@font-face {font-family: Interstate-Bold; src: url("../fonts/Interstate-Bold.otf");}
@font-face {font-family: Interstate-Regular; src: url("../fonts/Interstate-Regular.otf");}
@font-face {font-family: Interstate-ExtraLight; src: url("../fonts/Interstate-ExtraLight.otf");}
@font-face {font-family: Interstate-ExtraLight; src: url("../fonts/Interstate-ExtraLight.otf");}
@font-face {font-family: Interstate-Lightitalic; src: url("../fonts/Interstate-Lightitalic.otf");}

img {max-width: 100%;}

iframe {margin-bottom: 3%;}

h1 {font-family: Interstate-ExtraLight, verdana, sans-serif; font-size: 40px; margin: 0px 0px 15px 0px;}
h2 {font-family: Interstate-Light, verdana, sans-serif; font-size: 22px; margin:  0px 0px 15px 0px;}
p {font: 14px/19px Interstate-Light, verdana, sans-serif; margin:  0 0 15px 0; color: #333;}

.bold {font-family: Interstate-Bold, verdana, sans-serif; font-weight: bold;}
.italic {font-family: Interstate-Lightitalic, verdana, sans-serif; font-style: italic;}

.storyimg {float: right; margin: 10px; width:40%;}
.imgcaption {text-align: right;}
.pullquote {float: right; width: 40%; margin: 3% 0px 3% 5%;}